[Unit]
Description=Flairbot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /var/lib/flairbot/flairbot_service.py
User=admin
WorkingDirectory=/var/lib/flairbot
Restart=no

[Install]
WantedBy=multi-user.target